<div class="fixedbox">
    <button class="actiontheme" id="theme-toggle" onclick="toggleTheme()" title="Toggle Theme"></button>
    <a class="actiongithub" href="https://github.com/moretti815/rssblog" title="GitHub" target="_blank" rel="noopener noreffer me"></a>
    <a class="actiontop" onclick="javascript:document.getElementById('top-header').scrollIntoView({block: 'start', behavior: 'smooth', inline: 'center'})"></a>
    <a class="actionbottom" onclick="javascript:document.getElementById('bottom-footer').scrollIntoView({block: 'start', behavior: 'smooth', inline: 'center'})"></a>
</div>